{% extends "base.html" %}

{% block main %}

<div class="mainidea">
    <div class="w3-center w3-padding-64">
 <span class=" w3-center w3-xlarge  w3-border-dark-grey w3-padding-16">About - UWI Course Recommender System</span><br></div>

    <div>
        This system is an intelligent course recommender system that will be used by the registered students. The course recommender system is a web-based application. 
        It will focus on a student's course field including major(s) and/or minor(s) when making course

recommendations. The system will also be able to make recommendations based on certain

interests that students have chosen, relativity to their major and minor, and feedback from

past students. Ideally, the recommender system should allow users to find the preferable

courses quickly and to alleviate the information overload problem. The course recommender

system will be a web based application that will be developed using Flask, a python web

application framework and AngularJS, a JavaScript-based web application framework. The

system will also be using a database; to store all relevant information needed to

make recommendations to students. The system will recommend

suitable courses to individual students, taking into consideration any previous courses done

by the student which may be needed as prerequisites for other courses. The main aim of this

project is to allow for an easier way for students to select the compulsory courses needed for

their major(s) and/or minor(s), select free elective courses with the aim of

increasing the student’s professional foundation with courses specific to their field(s) of study

and create a well-rounded students.
         </div>
    <br>

   

</div>

{% endblock %}