{% extends "base.html" %}

{% block main %}

<div class="main">
    <div>
        <h4>Problem Description</h4>
        Universities usually offer a wide range of courses and it is difficult for students to become familiarized with even half of the available courses. 
        All mandatory courses for their major(s) and/ or minor(s) must be completed and students also have to complete several free elective courses. 
        Students are forced to search through the entire catalogue of courses available for the required semester, read through different faculties’ handbooks to get a better understanding of a course, and compare the success rate statistics of these courses.
        Frequently they discuss courses with other students who have their own experiences about a course having done it before.
        Students may then choose a specific course based on the reputation of the teacher, the course time, the course difficulty, or other factors not directly related to a specific field of study. 
        It has been observed that students prefer registering for free elective courses that are interesting and passable courses. 
    </div><br>
    <div>
        <h4>Project Description</h4>
        This system is an intelligent course recommender system that will be used by the registered students. The course recommender system is a web-based application. 
        The system uses an SQL database; to store all relevant information needed to make recommendations to students’. 
        The system was developed to recommend suitable courses to individual students; taking into consideration any previous courses done by the student, which may be needed as prerequisites for other courses.
        The main aim of this project is to allow for an easier way for students to select the compulsory courses needed for their major(s) and/or minor(s), and also to select free elective courses.
    </div>
    
</div>

{% endblock %}