{% extends "base.html" %}

{% block main %}

<div class="main" align="center" >
    <div>
        <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>
         <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team1.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Keezia Allen</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>completing her BSc in Computer Science and minor in

            Management Studies at the University of the West Indies. She has skillsets in web
            
            development (including Flask and AngularJS), database management (MySql and
            
            PostgresSql), object oriented languages (Java) and business studies. Keezia Allen
            
            worked on the Academic Student Evaluation Program at the university during the
            
            period of October to November 2016.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Jhenai Dixon</h3>
          <p class="w3-opacity">Art Director</p>
          <p>pursuing her BSc in Computer Science and Marketing (double

            major) at the University of the West Indies. She has skillsets in web development
            
            (including Flask and AngularJS), database management (MySql and PostgresSql),
            
            object oriented languages (Java), design photoshop and marketing strategies. Jhenai
            
            Dixon, also worked on the Academic Student Evaluation Program during the period
            
            of October to November 2016.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
    

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Trudy-Ann Campbell</h3>
          <p class="w3-opacity">Designer</p>
          <p>completing her BSc in Computer Science and Psychology

        (double major) at the University of the West Indies. She has skillsets in web
        
        development, database management, object oriented languages, user interface design
        
        and Psychology.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Chris-Ann Rowe</h3>
          <p class="w3-opacity">Designer</p>
          <p>pursuing her BSc in Computer Science and Psychology (double

            major) at the University of the West Indies. She has skillsets in web development,
            
            database management and object oriented languages.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
        
    </div>
</div>

{% endblock %}