{% extends "base.html" %}

{% block main %}

<div  align="center" >
    <div>
        <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>
         <div class="w3-third w3-margin-bottom ">
      <div class="w3-card-4 dev">
        <img src="{{url_for('static',filename='images/female.jpg')}}" alt="Allen" style="width:50%">
        <div class="w3-container">
          <h3>Keezia Allen</h3>
          <p class="w3-opacity">Programmer</p>
          <p>Pursuing her BSc in Computer Science and minor in

            Management Studies at the University of the West Indies. She has skillsets in web
            
            development (including Flask and AngularJS), database management (MySql and
            
            PostgresSql), object oriented languages (Java) and business studies. </p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4 dev">
    <img src="{{url_for('static',filename='images/female.jpg')}}" alt="Dixon" style="width:50%">
        <div class="w3-container">
          <h3>Jhenai Dixon</h3>
          <p class="w3-opacity">Programmer</p>
          <p>Pursuing her BSc in Computer Science and Marketing (double

            major) at the University of the West Indies. She has skillsets in web development
            
            (including Flask and AngularJS), database management (MySql and PostgresSql),
            
            object oriented languages (Java), design photoshop and marketing strategies. </p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
    

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4 dev">
        <img src="{{url_for('static',filename='images/female.jpg')}}" alt="Campbell" style="width:50%">
        <div class="w3-container">
          <h3>Trudy-Ann Campbell</h3>
          <p class="w3-opacity">Programmer</p>
          <p>Pursuing her BSc in Computer Science and Psychology

        (double major) at the University of the West Indies. She has skillsets in web
        
        development, database management, object oriented languages, user interface design
        
        and Psychology.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4 dev">
        <img src="{{url_for('static',filename='images/female.jpg')}}" alt="Rowe" style="width:50%">
        <div class="w3-container">
          <h3>Chris-Ann Rowe</h3>
          <p class="w3-opacity">Programmer</p>
          <p>Pursuing her BSc in Computer Science and Psychology (double

            major) at the University of the West Indies. She has skillsets in web development,
            
            database management and object oriented languages.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
       <br> 
    </div>
</div>

{% endblock %}