<div class="head, w3-theme-d3">
  <div align="center">
  <p style="font-size:250%">UWI Course Recommender System</p>
</div>

<div align="center">
<ul class="nav nav-tabs tablink">
  <li role="presentation" ><a href="{{url_for('home')}}" class="w3-button w3-block">Home</a></li>
  <li role="presentation"><a href="{{url_for('about')}}" class="w3-button w3-block">About</a></li>
  <li role="presentation"><a href="{{url_for('developers')}}" class="w3-button w3-block">Developers</a></li>
</ul>
</div>
</div>